<h1>
    How to play?</h1>

<h2 class="mt10">Start playing in 6 steps</h2>

<p class="mt10">&nbsp;</p>
<h3>1 Register</h3>
<img alt="step1" src="@Url.Content("~/img/step1.jpg")"  />

<p style="margin-top:20px">&nbsp;</p>
<h3>2 Create your profile</h3>
<img alt="step2" src="@Url.Content("~/img/step2.jpg")"  />

<p style="margin-top:20px">&nbsp;</p>
<h3>3 Challenge or wait for a challenge</h3>
<img alt="step3" src="@Url.Content("~/img/step3.jpg")"  />
<p style="margin-top:20px">&nbsp;</p>
<h3>4 Accept the challenge</h3>
<img alt="step4" src="@Url.Content("~/img/step4.jpg")"  />
<p style="margin-top:20px">&nbsp;</p>
<h3>5 Choose your game</h3>
<img alt="step5" src="@Url.Content("~/img/step5.jpg")"  />

<p style="margin-top:20px">&nbsp;</p>
<h3>6 Blow your opponent!</h3>
<img alt="step6" src="@Url.Content("~/img/step6.jpg")"  />

<p style="margin-top:20px">&nbsp;</p>
<p><a class="btn bnt-default mt10"  href="javascript:void(0)" onclick="loadUrlPost('@Url.Action("Inicio","Home")')">Back &laquo;</a></p>